/*===========
 Basic color
===========*/
$black: #333;
$lightblack:#4E4848;
$white: #ffffff;
$gray: #BCBBB6;
$lightgray: #efefef;
$btn-gray:#B1B1B1;
$red : #b01717;
$beige: #ffeddc;
$yellow: #ffeb00;
$orange: #faae3b;
$lightblue: #DCECF8;
$blue: #2A6FB3;
$lightpink: #F7D5DC;

